**/.git
**/.gitignore
**/.vscode
**/node_modules
**/*.map
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/.prettierrc
**/package-lock.json
**/test
**/*.test.ts
**/.mocharc.json
**/coverage
**/.nyc_output
